<div class="row">
<div class="col-md-12">
         <legend><h2>Pictures</h2></legend>
         <hr />
{{#each pictures}}
<div class="col-md-4">
        <img src="uploaded/{{this}}" class="img-responsive img-thumbnail" />
</div>
{{else}}
        {{#errMsg}}{{message}}{{/errMsg}}
{{/each}}
</div>
</div>
